<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XrfSyncApp">

        <!-- Activity Login: Ikon launcher disembunyikan, dibuka via Chrome (Deep Link / Intent) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <!-- Deep Link Scheme 1: xrf://open atau xrf://admin -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="xrf" />
            </intent-filter>

            <!-- Deep Link Scheme 2: https / http link handler -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="silab.aispektra.com" android:pathPrefix="/open_xrf" />
                <data android:scheme="http" android:host="silab.aispektra.com" android:pathPrefix="/open_xrf" />
                <data android:scheme="http" android:host="192.168.0.229" android:pathPrefix="/open_xrf" />
                <data android:scheme="http" android:host="localhost" android:pathPrefix="/open_xrf" />
            </intent-filter>

            <!-- Action Main tanpa category LAUNCHER (Mode Senyap / Hidden Icon) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />

        <service android:name=".DataSenderService" android:exported="false" />

        <!-- Auto-start saat alat XRF dinyalakan (Background Service tetap aktif) -->
        <receiver android:name=".BootReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
